.active{
    color: yellow;
}
.inactive{
    color: black;
}
.star-rating{
    /* background: blue; */
    margin-left: 520px;
}
body{
    background-color: rgba(0, 0, 255, 0.445);
}
.star-rating-text{
    /* background: blue; */
    margin-left: 600px;
    font-weight: 500;
}